*.iws
*.iml
*.ipr
target/
.settings
.project
.classpath
.externalToolBuilders
*.class
*svn/
.idea/
*.jar
~*

jcartstoreback/src/main/resources/application-exclude.properties
jcartadministrationback/src/main/resources/application-exclude.properties
.gitignore
jcartstoreback/.idea/
jcartadministrationback/.idea/